.category_container{
    position: sticky;
    top: 0;
   

}
.borders{
    border-left: 2px solid rgb(137, 134, 134);
   
}
.cart_{
    position: sticky;
    top: 0;
   
}
.mainCon{
    
    background: linear-gradient(to left, rgba(92, 92, 197, 0.3), rgba(170, 143, 163, 0.3)) no-repeat center/cover;

}